.description,
.language,
.title {
  text-align: center;
}

.text_area {
  width: 700px;
  height: 200px;
  display: block;
  margin: 16px auto;
  padding: 10px;
}

.keyboard {
  width: 700px;
  margin: 0 auto;
  padding: 5px;
  padding-left: 0;
  padding-bottom: 0;
  border: 1px solid black;
}