.description,
.language,
.title {
  text-align: center;
}

.text_area {
  width: 700px;
  height: 200px;
  display: block;
  margin: 16px auto;
  padding: 10px;
}

.keyboard {
  width: 810px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid black;
}

.key {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid black;
  background-color: #cbd1d8;
  margin: 3px;
  padding: 3px;
  cursor: pointer;
}

.key:active {
  background: #d7e6f3;
}

.key:hover {
  transition: all .2s;
}

.big-key {
  width: 86px;
}

.caps,
.enter,
.shift {
  width: 90px;
}

.space-key {
  width: 356px;
}